.partnerItem {
  width: 280px;
  background-color: lightblue;
  color: #111111;
  border-radius: 20px;
  padding: 12px 4px;
  box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
}

.partnerTitle {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.partnerLink {
  color: #f59256;
}

.flexWrap {
  display: flex;
}

.imgWrap {
  width: 110px;
  height: 78px;
  margin-right: 12px;
}

/* .partnerLogo {
  display: block;
  width: 100%;
} */

.partnerContactsList {
  list-style: none;
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.partnerContactsItem {
  width: 150px;
}

.partnerContactsItem:not(:last-child) {
  margin-bottom: 4px;
}

.contactLink {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  color: inherit;
  text-overflow: ellipsis;
}

.contactLink:hover,
.contactLink:focus {
  color: #f59256;
}

@media screen and (max-width: 767px) {
  .partnerItem:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  .partnerItem {
    width: 336px;
    padding: 16px 4px;
    border-radius: 40px;
  }

  .partnerTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  .imgWrap {
    width: 120px;
    height: 85px;
    margin-right: 14px;
  }

  .partnerContactsList {
    font-size: 14px;
    line-height: 19px;
  }

  .partnerContactsItem {
    width: 181px;
    overflow: hidden;
  }

  .partnerContactsItem:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .partnerItem {
    width: 395px;
  }

  .partnerTitle {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 27px;
  }
  .imgWrap {
    width: 158px;
    height: 112px;
    margin-right: 16px;
  }
  .partnerContactsList {
    font-size: 16px;
    line-height: 22px;
  }

  .partnerContactsItem {
    width: 206px;
    overflow: hidden;
  }

  .partnerContactsItem:not(:last-child) {
    margin-bottom: 12px;
  }
}
